body
{
    font-family: didot, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding:0;
}
.container
{
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
}
h1
{
    text-align: center;
}
pre, p
{
    font-size: 20px
    text-align: center;
}
form
{
    text-align: center;
    margin-top: 20px;
}
input[type='text']
{
    padding:10px;
    font-size:16px;
}
button
{
    padding:10px 20px;
    font-size: 16x;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
a
{
    display:block;
    text-align: center;
    margin-top:20px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
a:hover
{
    text-decoration: italic;
}
.hangman {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 0 auto;
}

.part {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: black;
}
