<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my hangman game!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hangman.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hangman Game</h1>
        <p>Word: {{ word_display }}</p>
        <p>Guesses: {{ guesses }}</p>
        <p>Misses: {{ misses }}</p>
        <p>{{ message }}</p>

        {% if '_' not in word_display %}
            <p>Congratulations, you won!</p>
            <a href="{{ url_for('reset_hangman') }}">Play Again</a>
        {% elif misses >= 8 %}
            <p>WOMP WOMP, the word was {{ word }}</p>
            <a href="{{ url_for('reset_hangman') }}">Try Again</a>
        {% else %}
            <form action="{{ url_for('guesses_hangman') }}" method="POST">
                <input type="text" name="guess" maxlength="1" required>
                <button type="submit">Guess</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
